{% macro render_field(field, placeholderValue) %}

  <div class="form-group">
    {% if field.type in ["StringField", "PasswordField"] %}
        {{ field.label(class="form-label mt-3") }}
        {{ field(class='form-control mt-2', placeholder=placeholderValue, **kwargs) }}
    {% elif field.type == "BooleanField" %}
        {{ field(class='form-check-input mt-2', **kwargs) }}
        {{ field.label(class='form-check-label mt-2') }}
    {% else %}
        {{ field(**kwargs)| safe }}
    {% endif %}

    {% if field.errors %}
      <ul class="errors">
        {% for error in field.errors %}
          <li class="text-danger mt-1">{{ error }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>

{% endmacro %}
