{% extends 'base.html' %}
{% block title %}Licenses & certifications{% endblock %}
{% block content %}
    <div class="container overflow-hidden text-center">
      <div class="row gx-5">
        <div class="col">
         <div class="p-3">
             <table class="table table-hover">
                  <thead>
                    <tr>
                      <th scope="col">Certificate name</th>
                      <th scope="col">Issued by</th>
                      <th scope="col">Date</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="table-primary">
                      <th scope="row">IBM Full Stack Software Developer Specialization</th>
                      <td>Coursera</td>
                      <td>Sep 2023</td>
                    </tr>
                    <tr class="table-secondary">
                      <th scope="row">JavaScript Essentials 1 (JSE)</th>
                      <td>Cisco Networking Academy</td>
                      <td>Dec 2022</td>
                    </tr>
                    <tr class="table-success">
                      <th scope="row">PCAP - Programming Essentials in Python</th>
                      <td>Cisco Networking Academy</td>
                      <td>Dec 2022</td>
                    </tr>
                    <tr class="table-danger">
                      <th scope="row">CPA - Programming Essentials in C++</th>
                      <td>Cisco Networking Academy</td>
                      <td>Jun 2022</td>
                    </tr>
                    <tr class="table-warning">
                      <th scope="row">NDG Linux Essentials</th>
                      <td>Cisco Networking Academy</td>
                      <td>Jun 2022</td>
                    </tr>
                    <tr class="table-info">
                      <th scope="row">CLA - Programming Essentials in C</th>
                      <td>Cisco Networking Academy</td>
                      <td>Mar 2022</td>
                    </tr>
                  </tbody>
             </table>
         </div>
        </div>
      </div>
    </div>
{% endblock %}