{% extends "base.html" %}
{% from "render_field.html" import render_field %}
{% block title %}Categories{% endblock %}
{% block content %}

<div class="container mt-5">
    <div class="row justify-content-between">
        <div class="col-8">
            <h1 class="mb-4">Categories</h1>
        </div>
        <div class="col-4 text-end">
            <button class="btn btn-success" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                New
            </button>
        </div>
    </div>

    <div class="collapse mt-3" id="collapseOne">
        <div class="card card-body p-4">
            <form class="row justify-content-center" method="post" action="{{url_for('posts.add_category')}}">
                {{ form.csrf_token }}
                <div class="col-6">
                    {{ render_field(form.name, class="form-control") }}
                </div>
                <div class="col-3">
                    {{ render_field(form.submit, class="btn btn-primary") }}
                </div>
            </form>
        </div>
    </div>

    <table class="table table-hover mt-4">
        <thead>
            <tr class="table-light">
                <th scope="col">#ID</th>
                <th scope="col">Name</th>
                <th scope="col">Used</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
                <tr>
                    <td>{{category.id}}</td>
                    <td>{{category.name}}</td>
                    <td>{{category.posts|length}}</td>
                    <td>
                        <form method="POST" action="{{url_for('posts.delete_category', id=category.id)}}">
                            <button type="submit" class="btn btn-outline-danger">
                                <p>delete</p>
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
